{% if data %}
{% include "layout/vendor_header.html" %}
{% elif customer %}
{% include "layout/customer_header.html" %}
{% else %}
{% include "layout/header.html" %}
{% endif %}
<div class="container mid_inner">
	<h1>Privacy Policy</h1>
	<p><p><strong><em>Privacy Policy</em></strong><br />
<em>Please read the terms and conditions carefully :</em><br />
<em>LuckShop.com</em>&nbsp;is owned by A<strong>venue Partners</strong>. Here, we provide our users with access to Ecommerce products for, Men , Women , Kids , and many other accessories products that can be purchased at the price mentioned on the site.&nbsp;</p>

<p>You may not use our designs and products for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws<br />
The terms We/ Us/ Our individually and collectively refer to LuckShop&nbsp;<br />
The terms &quot;Customers&rdquo;, and &ldquo;Well-wishers&rdquo; refer to the users. By visiting our website, the user agrees to read, browse and access all our information subject to the guidelines and terms of use applicable to such services. If it is not acceptable, kindly let us know; we will try to fix it or refrain from visiting our site.</p>

<p><br />
<em>Use of content:</em><br />
1. All logos, marks headings, labels, names, or any combinations thereof, appearing on this site, except as otherwise noted, are properties strictly owned by Mithsia and its team.<br />
2. The use of these properties or any other content on this site, except as provided in the aforementioned terms and conditions, is strictly prohibited.<br />
3. You are not allowed to sell or modify the content of this Website or reproduce, display, distribute, or otherwise use the materials in any way, for any public or commercial purpose without the respective organization&rsquo;s permission.<br />
Security Rules:<br />
Visitors are requested from violating or attempting to violate the security of the Web site:<br />
1. Attempting to interfere with service to any user, network, including, without limitation, via means of submitting a virus or &quot;Trojan horse&quot; to the Website, &quot;flooding&quot;, &quot;mail bombing&quot; or &quot;crashing&quot;<br />
2. Sending unsolicited electronic mail, including promotions and/or advertising of products or services. Violations of system or network security may result in civil or criminal liability<br />
3. Attempting to probe or test the vulnerability of a system or to breach security and authentication measures without proper authorization<br />
4. Accessing data that is not intended for the user or logging into the server that the user is not authorized to access.<br />
Mithsia holds the right to investigate occurrences that they suspect to be violations and will have the right to involve law enforcement authorities in prosecuting users who are involved in such violations.<br />
<em>General Rules:</em><br />
1. Our products are exclusively available on our website for sale. These products are made to view and hence order. They are subject to return or cancellation according to our return and cancellation policy.<br />
2. We reserve the right to cancel the order without giving any prior notice to the customer. If any amount is paid by the customer, the amount will be refunded fully.<br />
3. We aim to ensure that the colors of our products appearing on our website are as similar as possible to the original color of the product. However, the actual colors might vary slightly.<br />
4. You may not create a link to this website from another website or document without any prior written consent.<br />
5. You agree to not reproduce, duplicate, copy, sell, or exploit any product sold on our site without seeking prior permission.<br />
6. All descriptions of products or product pricing are subject to change at any time without notice, at our sole discretion of us.<br />
7. We reserve the right to discontinue any product at any time, or offer for any product or service made on this site.<br />
8. Though the measurements mentioned with the products are strictly adhered to but there can be variation between 1-2 inches.<br />
9. We do not guarantee the quality of any products, services, information, or other material purchased, will meet your expectations.<br />
10. Use of this site and its contents grants no rights to you in relation to any copyright, trademarks and all other intellectual property and material rights relating to the content on this site.<br />
11. All content published here are meant exclusively for browsing with restrictions. This includes printing, downloading or representing content in any form. All other uses of the content in any other form are explicitly forbidden and subject to the copyright law.<br />
12. Any unauthorized use like downloading or copying any information for benefits of other third party shall terminate the permission or license granted to you by us.<br />
Resolution of dispute:<br />
We, at LuckShop, deliver products pan India and hence, all disputes of any nature including the sale and purchase of Our products are subject to the exclusive jurisdiction to the Courts of W.B. For resolving such disputes by the courts laws of Indian jurisdiction will be applicable.<br />
Contact Information:<br />
<em>Queries related to any of the Terms and Conditions</em>&nbsp;must be sent to us on&nbsp;</p>

<p><strong>&nbsp;i</strong><em><strong>nf</strong>o@LuckShopfashion.in</em></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Order &amp;&nbsp;Shipping Policies</p>

<p>&nbsp;</p>

<p>For placing an order, a form has to be filled by the customer mentioning his order through this website by agreeing to the terms below:<br />
1. General</p>

<ul>
	<li>&nbsp;Regarding to stock availability:- We try to maintain accurate stock counts on our website but from time to time there may be stock unavailability and we will not be able to fulfill all your orders at the time of purchase. In this instance, we will fulfill the available products to you, and contact you further about the leftover item.</li>
	<li>Each and every product might have a design discrepancy and slight color smudging. Handmade products are characterized by slight irregularities which creates specific differences between handmade and machine-made.</li>
	<li>Any two handmade products can&#39;t be 100% the same. This is what creates the charm of handmade products.</li>
</ul>

<p>2. Shipping Costs</p>

<ul>
	<li>Shipping costs are calculated during checkout based on the weight, dimensions, and destination of the items in the order. Payment for shipping will be collected with the purchase.</li>
	<li>This price will be the final price for shipping cost to the customer.</li>
	<li>We take great care in delivering your products to you, and we partner only with reputed national couriers.</li>
	<li>In the case of customized pieces according to the customer&#39;s choice shipping times may vary as each product take time to be made according to the demand of the design.</li>
	<li>Our courier partners will be able to deliver the shipment to you between Monday-Saturday. Working days exclude public holidays and Sundays. Delivery time is subject to factors beyond our control including unexpected travel delays from our courier partners and transporters due to weather conditions and strikes.</li>
</ul>

<p>As soon as your package ships, we will email you your package tracking information. In some odd cases, Cancellation requests will be accepted strictly within 24 hours of placing the order only.</p>

<p>For any query, contact us on&nbsp;</p>

<p><em>skluckihossain@gmail.com</em></p>
</p>
</div>
<div>
{% include "layout/footer.html" %}