{% if data %}
{% include "layout/vendor_header.html" %}
{% elif customer %}
{% include "layout/customer_header.html" %}
{% else %}
{% include "layout/header.html" %}
{% endif %}
<!-- /header --> <div class="container mid_inner">
	<!-- container -->
	<h1>Terms & Conditions</h1>
	<p><p><strong>Terms and Condition&nbsp;</strong></p>

<p>The terms &quot;We&quot; / &quot;Us&quot; / &quot;Our&quot; /&rdquo; Company&rdquo; individually and collectively refer to LuckShop .In LuckShop &nbsp;the terms &quot;Customers&rdquo; and &ldquo;Well-wishers&rdquo; refer to the users.</p>

<p>By visiting our website, the user has agreed to read, browse, and access all our information subject to the guidelines and terms of use applicable to such services. If it is not acceptable, kindly let us know; we will try to fix it or refrain from visiting our site.</p>

<p>Please read the terms and conditions carefully :</p>

<p>LuckShop is owned by LuckShop partners. Here, we provide our users with access to Ecommerce products for, Men , Women , Kids , and many other accessories products that can be purchased at the price mentioned on the site.</p>

<p>You may not use our designs and products for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws )</p>

<p>Use of content:</p>

<p>All logos, marks headings, labels, names, or any combinations thereof, appearing in this site, except as otherwise noted, are properties strictly owned by LuckShop or its team.&nbsp;</p>

<p>The use of these properties or any other content on this site, except as provided in these terms and conditions or the site content, is strictly prohibited.</p>

<p>You may not sell or modify the content of this Website or reproduce, display, distribute, or otherwise use the materials in any way for any public or commercial purpose without the respective organization&rsquo;s permission.</p>

<p>&nbsp;</p>

<p>Security Rules:</p>

<p>Visitors are requested from violating or attempting to violate the security of the Web site:</p>

<p>attempting to interfere with service to any user, or network, including, without limitation, via means of submitting a virus or &quot;Trojan horse&quot; to the Website, &quot;flooding&quot;, &quot;mailbombing&quot; or &quot;crashing&quot;,</p>

<p>sending unsolicited electronic mail, including promotions and/or advertising of products or services. Violations of system or network security may result in civil or criminal liability,</p>

<p>attempting to probe, or test the vulnerability of a system or to breach security or authentication measures without proper authorization,</p>

<p>accessing data not intended for such user or logging into a server or account that the user is not authorized to access.</p>

<p>LuckShop will have the right to investigate occurrences that they suspect as involving such violations and will have the right to involve and cooperate with, law enforcement authorities in prosecuting users who are involved in such violations.</p>

<p>General Rules:</p>

<p>Our products are exclusively available on our website for sale. These products are made to view and hence order, and are subject to return or cancellation only according to our return and cancellation policy.</p>

<p>LuckShop reserves the right to cancel any order for any reason without giving any prior notice to the customer. If any amount is paid by the customer, the amount will be refunded fully.</p>

<p>We have aimed to ensure that the colors of our products appearing on our website are as near as possible to the color of the product. However, the actual colors you see will depend on your computer equipment, and accordingly, we are unable to guarantee the precise color of the product on delivery.</p>

<p>You may not create a link to this website from another website or document without any prior written consent.</p>

<p>You agree not to reproduce, duplicate, copy, sell, or exploit any product sold on our site without seeking prior permission from us.</p>

<p>All descriptions of products or product pricing are subject to change at any time without notice, at our sole discretion of us.</p>

<p>We reserve the right to discontinue any product at any time. Any offer for any product or service made on this site.</p>

<p><br />
We do not warrant that the quality of any products, services, information, or other material purchased or obtained by you will meet your expectations, or that any errors in the Service will be corrected.</p>

<p>Your use of this site and its contents grants no rights to you about any copyright, trademarks, and all other intellectual property and material rights relating to the content in this site.</p>

<p>All content published here is meant exclusively for browsing, viewing, and all other activities which are educational, non-commercial, and personal use with restrictions. This includes printing, downloading, or representing content in any form. All other uses of the content in any other form are explicitly forbidden and subject to copyright law.</p>

<p>Your use of this site and its contents grants no rights to you about any copyright, trademarks, and all other intellectual property and material rights relating to the content in this site.</p>

<p>Any unauthorized use like downloading or copying any information on site for the benefit of other third parties by you shall terminate the permission or license granted to you by us.</p>

<p>&nbsp;</p>

<p>Resolution of dispute:</p>

<p>Since customers place orders for our products through this platform from all over India &amp; the world, therefore, all disputes of any nature including but not limited to the sale and purchase of Our products are subject to the exclusive jurisdiction of the Courts of W.B. For resolving such disputes by the court&#39;s laws of Indian jurisdiction will be applicable.</p>

<p>Contact Information:</p>

<p>Queries related to any of the Terms and Conditions must be sent to us on</p>

<p><em><strong>skluckihossain@gmail.com</strong></em></p>
</p>
</div>
<!-- /container --><div>
{% include "layout/footer.html" %}